.searchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Container */

.styledInputContainer {
  position: relative;
  margin-bottom: 0.5rem;
  height: 40px;
  width: 100%;
  display: flex;
}

/* Input */

.styledInput {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 7px;
  border: 1px solid #0b5394;
  background-color: #d1cfcf;
  color: #0b5394;
  font-size: 16px;
}

.styledInput:active,
.styledInput:focus {
  border: 1px solid #0b5394;
  outline: none;
}

.styledInput::placeholder {
  color: #0b5394;
  opacity: 0.8;
}

/* Back to global data Button */

.inputBackButton {
  font-size: 14px;
  height: 100%;
  width: 50px;
  padding-top: 5px;
  border: 1px solid #0b5394;
  border-right: transparent;
  background-color: #d1cfcf;
  color: #0b5394;
  cursor: pointer;
}

.inputBackButton:hover {
  background-color: #0b5394;
  color: #d1cfcf;
}

.inputBackButton:active,
.inputBackButton:focus {
  border: 1px solid #2584ff;
  background-color: #0b5394;
  color: #d1cfcf;
  outline: none;
}

/* Search Button */

.inputSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100%;
  width: 60px;
  border: 1px solid #0b5394;
  border-left: transparent;
  background-color: #d1cfcf;
  color: #0b5394;
  cursor: pointer;
}

.inputSearchButton:hover {
  background-color: #0b5394;
  color: #d1cfcf;
}

.inputSearchButton:active,
.inputSearchButton:focus {
  border: 1px solid #2584ff;
  background-color: #0b5394;
  color: #d1cfcf;
  outline: none;
}
