.barChartContainer {
  width: 100%;
  background-color: #d1cfcf;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border: 1px #d1cfcf solid;
}

.barChartContainer:hover,
.barChartContainer:focus,
.barChartContainer:active {
  color: #d1cfcf;
  border-color: #0b5394;
}

.barChartTitle {
  text-align: center;
  color: #0b5394;
  padding-top: 1rem;
  font-family: 'Roboto Serif', sans-serif;
  font-size: 12px;
}

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f6f4;
  color: #0b5394;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
