@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&family=Roboto:wght@100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto Serif', sans-serif;
  height: 100%;
  background-color: #f3f6f4;
  color: #2d4263;
}

h1 {
  color: #0b5394;
}

h2 {
  color: #0b5394;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid;
  border-color: #c84b31 transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
