.barChartContainer {
  background-color: #313131;
  /* border: 1px #fff solid;
  border-radius: 10px; */
  padding: 5px;
  margin: 8px;
}

.barChartTitle {
  text-align: center;
  color: #fff;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.tooltip {
  background-color: #191919;
  color: #ecdbba;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
}
