.searchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styledInputContainer {
  position: relative;
  margin-bottom: 0.5rem;
}

.styledInput {
  width: 200px;
  height: 40px;
  padding-left: 30px;
  padding-top: 5px;
  border: 1px solid #0b5394;
  background-color: #d1cfcf;
  color: #0b5394;
  font-size: 14px;
}

.styledInput::placeholder {
  color: #0b5394;
  opacity: 0.8;
}

.inputIcon {
  position: absolute;
  color: #0b5394;
  background-color: #d1cfcf;
  width: 25px;
  height: 30px;
  padding: 5px;
  top: 5px;
  left: 5px;
  border: 0;
}

.inputIcon:hover {
  cursor: pointer;
}

.inputIcon:active {
  border: 1px solid #ecdbba;
  border-radius: 5px;
}
